// ion-toolbar {
//     --background: transparent;
//     --border-color: transparent;
// }

ion-content {
    --offset-top: 0px;
    --padding-top: 3.3em;
    position: absolute;
}

#image {
    display: none;
}

#header {
    margin-bottom: 0.4em;
}

#center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    top: 0.8em;
    position: absolute;
    font-weight: normal;
}

#elev, #lineWidth, #date, #time_begin, #date_end, #time_end {
    text-align: right;
}

h4 {
    margin-top: 10%;
}
